[Desktop Entry]
Type=Application
Name=Herald
Comment=Notification receiver for herald
Exec=herald receive
NoDisplay=true
X-GNOME-Autostart-enabled=true
